.header{
    width: 98.8vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.themeicon{
    border: 2px solid rgb(0, 0, 0);
    border-radius:20px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 25px;
    color:white;
}