.projectsection{
    /* border: 0.5px solid rgb(31, 31, 31); */
    background-color: #F5F5DC;
    height: auto;
    padding-bottom: 10px;
}

.projectgrid{
    /* border: 2px solid purple; */
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.projectheadingbox{
    padding-top: 10px;
    margin-bottom:40px ;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.projectheadingtext{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    font-style: oblique;
    font-size: 2.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #333;
}

.photocardbox{
    height: 100vh;
}

.projectskillbox{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
.projectskill {
    background: #007bff;
    color: white;
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    min-width: 70px;
    padding: 5px;
    margin: 7px;
    text-align: center;
}