.headsection{
    /* border: 2px solid red; */
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

.sections{
    height: 48px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 600;
    font-family: cursive;
    border-left: 1px solid purple;
    flex-wrap:wrap ;
    /* gap: 5px; */

}

.navitext:hover{
    transform:scale(1.3);
    background-color: rgb(224, 107, 107);
    border-radius: 30px;
    padding: 6px;
    margin-top: 10px;
}